body {
  font-size: 16px;
  color: #007bff;
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icons a {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
.social-icons a.github {
  background-image: url("../images/github.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.social-icons a.instagram {
  background-image: url("../images/instagram.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.social-icons a.linkedin {
  background-image: url("../images/linkedin.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.social-icons a.mail {
  background-image: url("../images/mail.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
